<% include ../partials/header %>

<div class="container">

<header class="jumbotron jumbo" >

    <strong><h1>Welcome to YelpCamp</h1></strong>
    <h3 style="color: black;">View from our hand-picked campgrounds from all over the world</h3>
    <a class="btn btn-info" href="/campgrounds/new">Add new campground</a>

</header>


    <div class="row">


        <% campgrounds.forEach( function(campground){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <div class="card">
                        <img src="<%=campground.image %>">                    

                        <div class="caption text-center">
                        
                            <h3><%=campground.name%></h3>
                            <a href="/campgrounds/<%=campground._id%>" class="btn btn-warning">More Info</a>
                        </div>
                    </div>
                </div>
                
            </div>
        <% }) %>


    </div>


</div>

<% include ../partials/footer %>    